<!DOCTYPE html>
<html>
<head>
  <title>Advertisement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="max-width: 1008px; margin: 0 auto">

<%= yield %>

</body>
</html>
